$icon-font-path: "/static/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
/*// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
////////////////////////
$buttons-border: RED;
$border-round-str: 100px;
$border-round-brand-str: 300px;
$border-round-page-post-str: 7px;
$mock-background-color: #eeeeee;
$common-font-color: #777;
.no-round-borders{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -khtml-border-radius: 0px;
}

.round-borders{
  -moz-border-radius: $border-round-str;
  -webkit-border-radius: $border-round-str;
  border-radius: $border-round-str;
  -khtml-border-radius: $border-round-str;
}

.round-borders-brand{
  -moz-border-radius: $border-round-brand-str;
  -webkit-border-radius: $border-round-brand-str;
  border-radius: $border-round-brand-str;
  -khtml-border-radius: $border-round-brand-str;
}
.round-borders-admn-post{
  -moz-border-radius: $border-round-page-post-str;
  -webkit-border-radius: $border-round-page-post-str;
  border-radius: $border-round-page-post-str;
  -khtml-border-radius: $border-round-page-post-str;
}
.common-shadow{
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
}

.common-transition{
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}

.common-animation {
  animation: spin 1.5s infinite;
}


@-moz-keyframes spin {
  0% {
     -moz-transform: rotate(60deg);
     }
  50% {
    -moz-transform: rotate(-60deg);
    }

  100% {
    -moz-transform: rotate(420deg);
    opacity: .4;
    }
}
@-webkit-keyframes spin {

  0% {
    -webkit-transform: rotate(60deg);
    transform:rotate(60deg);
    }

  50% {
    -webkit-transform: rotate(-60deg);
    transform:rotate(-60deg);
    }

  100% {
    -webkit-transform: rotate(420deg);
    transform:rotate(420deg);
    opacity: .4;
  }

}

@keyframes spin {
  0% { -webkit-transform: rotate(60deg);
    transform:rotate(60deg); }
  50% { -webkit-transform: rotate(-60deg);
    transform:rotate(-60deg);

    }
  100% { -webkit-transform: rotate(420deg);
    transform:rotate(420deg);
    opacity: .4;
  }
}

@keyframes pulse {
  0% {
    margin-left: -20px;
    margin-top: 20px;
  }
  50%{
    margin-left: 20px;
    margin-top: -20px;
  }
  100% {
    margin-left: -20px;
    margin-top: 20px;
  }
}


/////////////////
.finish-him{
  position: absolute;
  top: -10000px;
  opacity: 0 !important;

  &.login-inpage, &.message-inpage{
    padding: 0px !important;
    margin-top: -50px !important;
  }
  .navbar-right{
    position: absolute;
    top: -10000px;
    opacity: 0 !important;



  }
}



body,html{
  background-color: #E9E9E9;
}

.mini-bottom-top-director{
  content: "^";
  position: fixed;
  height: 40px;
  line-height: 1;
  font-family: monospace;
  font-size: 30px;
  /* background-color: RED; */
  bottom: 26px;
  right: 27px;
  background-color: #fff;
  padding: 14px;
  border-radius: 33px;
}

.brand-container{
  font-weight: 100;
  font-size: 36px;
  color: #000;
}
.navbar-fixed-top-custom{
  background-color: transparent;
  border-color: transparent;

  .brand-container{
    width: 80px;
    height: auto;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 4px;
    margin-top: -9px;
    margin-left: 22px;
    @extend .round-borders;
    @extend .common-shadow;

    img{
      width: 100%;
      height: auto;
      @extend .round-borders;
      background-color: $mock-background-color;
      min-width: 100%;
      min-height: 70px;

    }
  }

  .navbar-right{
    @extend .common-transition;
    visibility: visible;
    opacity: 1;

    .dropdown-menu{
      margin-left: -26px;
      right: 15px;
    }

    label[for='top-search']{
      position: absolute;
      top: 17px;
      left: 25px;
      opacity: 1;
      @extend .common-transition;
    }

    .glyphicon-search{
      color: $common-font-color;
    }

    .form-group{
      padding: 8px 0px;
      margin: 0px;
      input {
        padding: 0px;
        width: 48px;
        border: none;
        box-shadow: none;
        font-size: 20px;
        font-weight: 100;
        background-color: transparent;
        @extend .common-transition;
        @extend .no-round-borders;
        opacity: 0;

        &:focus{
          width: 400px;
          background-color: #ffffff;
          padding: 0px 10px;
          opacity: 1;
        }

        &:focus ~ label{
            opacity: 0;
        }
      }
    }
  }
}

.data-container{
  padding-top: 0px;
  padding-bottom: 100px;
  //Add box sizing
  background-color: #E9E9E9;
  min-height: 100%;

  &.admin-data{
    padding-top: 100px;

    .admin-main-container{

      .panel{
        text-align: center;

        h1{
          font-weight: 100;
        }
      }
    }

    .main-options-container{
      .nav {
        padding-bottom: 20px;

        li {
          a {
            padding: 16px 20px;
            color: $common-font-color;
            &:hover{
              background-color: #fff;
              color: $common-font-color;
            }
          }

          &.active a{
            background-color: #fff;
          }
        }
      }

      .admin-super-table{
        img{
          width: 100%;
          height: auto;
        }
        tbody{
          display: block;
          border: none !important;;
        }
        thead{
          display: block;
          border: none !important;;
        }

        th{
          display: block;
          position:relative;
          padding: 10px;
          padding-bottom: 0px;
          line-height: 2;
          border: none !important;;
        }

        td{
          display: block;
          position:relative;
          padding: 10px;
          line-height: 2;
          border: none !important;
          &.field-account{
            text-align: right;
            float: right;
            &::before{
              content: "By";
              padding-right: 5px;
              color: $common-font-color;
            }
          }
        }

        tr{
          display: inline-block;
          border: solid;
          border-color: #E9E9E9;
          @extend .round-borders-admn-post;
          video{
            position: relative;
            float: left;
          }

        }

      }

      form {
        div.actions{
          line-height: 4;
          margin-bottom: 8px;

          label{
            font-size: 0px !important;
          }
          @extend .panel;
          background: #fff !important;
          select{
            @extend .form-control;
          }

          button{
            @extend .form-control;
            @extend .btn;
            @extend .btn-default;
            width: 100px;
            margin: -4px 10px 0px 17px;
          }
        }
      }

      .column-super_post_url{
        display: none !important;
      }
      .column-account{
        display: none !important;
      }
      .column-account_image{
        display: none !important;
      }
      .column-username{
        display: none !important;
      }

      .column-first_name{
        display: none !important;
      }

      .column-fetch_status{
        display: none !important;
      }

      .field-super_post_url{
        float: left;
      }

      .account-common-th{
        padding: 2px !important;
      }

      table{
        .field-username{
          @extend .account-common-th;
          padding-top: 10px !important;
          &::before{
            content: "Username";
            color: $common-font-color;
            padding:0px 11px 0px 2px;
            font-size: 11px;
          }
        }
        .field-first_name{
          @extend .account-common-th;
          &::before{
            content: "Name";
            color: $common-font-color;
            padding:0px 11px 0px 2px;
            font-size: 11px;
          }
        }
        .field-fetch_status{
          @extend .account-common-th;
          &::before{
            content: "Posts Status";
            color: $common-font-color;
            padding:0px 11px 0px 2px;
            font-size: 11px;
          }
        }

      }

      .action-checkbox-column{
        &::after{
          content: "select all";
          left: 25px;
          font-size: 11px;
          font-weight: 400;
          color: #999;
          position: absolute;
          top: 4px;
        }
      }

      .object-tools{
        position: relative;
        float: right;
        z-index: 1;
        padding: 21px;
        li{
          display: block;
        }
      }

      p.paginator{
        @extend .pagination;
        @extend .panel;
        line-height: 3;
        width: 100%;
        padding: 10px;
        background-color: #fff !important;
        a,span{
          position: relative;
          float: left;
          padding: 6px 12px;
          margin-left: -1px;
          line-height: 1.42857143;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
        }

          span.this-page{
          z-index: 2;
          color: #fff;
          cursor: default;
          background-color: #337ab7;
          border-color: #337ab7;
        }
        a.end{
          border-width: thin !important;
        }
        a.showall{
          margin: 9px;
        }
      }

      .submit-row.panel{
        background: #ffffff !important;

        .cancel, .save{
          margin: 0.3em;
        }
      }
      /*#content-main{
        .object-tools{
          display: none;
        }
      }*/


      // for object page
      .form-row.field-username{
        .help {
          display: none;
        }

        .vTextField {
          @extend .form-control;
          margin-bottom: 5px;
          width: 80%;
        }
      }

      .form-row{
        p:not(.help){
          padding:10px;
        }

        label{
          padding: 10px;
        }

        .checkbox-row{
          padding-top:7px;
          p.help{
          padding: 16px;
          margin: 0px;
          color: $common-font-color;
          }

          input {
            margin-left: 9px;
          }

          label{
            position: relative;
            top: 3px;
          }
        }

        &.field-fetch_status{

          p.help{
            padding:0px !important;
            margin: 0px !important;
            color: $common-font-color;
          }
        }

        &.field-username{
          div::after{
            content:"Instagram username, used to fetch posts";
            color: $common-font-color;
          }
        }
      }



    }
  }



  .row {

    &.login-inpage{
      text-align: center;
      padding: 66px;
      visibility: visible;
      opacity: 1;
      margin:0px;
      @extend .common-transition;

      h1{
        font-weight: 100;
      }

      a{

        img{
          width: 64px;
          height: auto;
          padding-top: 20px;
        }

      }
    }

    &.message-inpage{
      text-align: center;
      padding: 66px;
      visibility: visible;
      opacity: 1;
      margin:0px;
      @extend .common-transition;

      h1{
        font-weight: 100;
      }

      h1::after{
        content: '*';
        font-family: 'Arial';
        font-weight:100;
        font-size: 30px;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        transition: all 5s ease-out;
        opacity: 1;
        transform-origin: center center;

        @extend .common-animation;
      }

    }

    .post-container{
      //background-color: RED;

      .super_brand_section{
        margin-top: -45px;
        padding: 14px !important;
        text-align: center;
        img{
          @extend .round-borders-brand;
          height: 120px;
          width: auto;
        }
        .post-description{
          margin:0px;
        }
        .caption{
          color: #666666;
        }
      }

      .thumbnail{
        padding: 0px;

        .caption{

          .tags-container{
            width: 100%;
            max-width: 100%;

            span{
              display: inline-block;
              position: relative;
              padding: 2px;
              color: #999999;

            }
          }

          h3{
            padding-top: 0px;
          }

          .location-container{
            color: #999999;
            font-size: 12px;
            text-align: right;
            margin-bottom: 0px;
            span {

            }

            .glyphicon{
              color: #999999;
            }
          }
        }
      }

    }
  }

  /*.bottom-animation{
    position: fixed;
    width: 100%;
    bottom:0px;
    margin-left: -15px;
    text-align:center;
  }
  */
}

.mock{

  h3, p, span, .glyphicon {
    color: $mock-background-color !important;
    background-color: $mock-background-color !important;
  }

  img{
    width: 400px;
    height: 320px;
    background-color: $mock-background-color;
  }
}

.main-alert{
    top: 33px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 29px;
}

.fetch-container{
  cursor: pointer;

  .glyphicon{
    @extend .common-transition;
  }

  &:hover{
    .panel-body{
      background-color: #F5F5F5;
    }

    .glyphicon{
      top: 20px;
    }

  }
  .fetch-text.loading::after{
        content: '*';
        font-family: 'Arial';
        font-weight:100;
        font-size: 30px;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        transition: all 5s ease-out;
        opacity: 1;
        transform-origin: center center;

        @extend .common-animation;
  }
}


