{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>Lordium Dashboard</title>
<meta name="viewport" content="width=device-width">
{% load compress %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "styles/main.css" %}{% endblock %}" />
{% endcompress %}


{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>

{% compress js %}
<script src="/static/bower_components/jquery/dist/jquery.js"></script>
<script src="/static/bower_components/angular/angular.js"></script>
<script src="/static/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/static/bower_components/angular-animate/angular-animate.js"></script>
<script src="/static/bower_components/angular-aria/angular-aria.js"></script>
<script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/static/bower_components/angular-messages/angular-messages.js"></script>
<script src="/static/bower_components/angular-resource/angular-resource.js"></script>
<script src="/static/bower_components/angular-route/angular-route.js"></script>
<script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/static/bower_components/angular-touch/angular-touch.js"></script>
<script src="/static/bower_components/angular-mocks/angular-mocks.js"></script>

<script src="/static/app/scripts/app.js"></script>
<script src="/static/app/scripts/services/factory.js"></script>
<script src="/static/app/scripts/controllers/main.js"></script>
<!-- script src="/static/app/scripts/test/mock.js" ></script -->
<script src="/static/app/scripts/admin_app.js"></script>
<script src="/static/app/scripts/dom_events.js"></script>
{% endcompress %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" ng-app="adminApp">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div class="container-fluid" >
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">
              <div class='brand-container' id="branding">
                Dashboard
                <!-- <img src='{{ super_user.profile_picture }}'> -->
              </div>
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-tools" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          {% if user.is_active and user.is_staff %}
          <div class="collapse navbar-collapse" id="user-tools">
            {% block userlinks %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% firstof user.get_short_name user.get_username %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <!-- <li><a href="/dashboard">Dashboard</a></li> -->

                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ docsroot }}">{% trans 'Help' %}</a></li>
                    {% endif %}
                    <!-- <li role="separator" class="divider"></li> -->
                    <li><a href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
          </div>
          {% endif %}
          {% block nav-global %}{% endblock %}
        </div>
      </nav>
    </div>
    {% endif %}



    {% block messages %}
        {% if messages %}
    <div class="alert alert-warning alert-dismissible main-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
        {{ message|capfirst }}
        {% endfor %}
    </div>
    {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %} container-fluid data-container admin-data">
        <!-- {% block pretitle %}{% endblock %} -->
        <!-- {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %} -->
       <!--  <div class="main-options-container row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->

             <div class="main-options-container row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    {% block leftsuper %}{% endblock %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                    {% endblock %}
                </div>
            </div>
            <!-- </div> -->
            <!-- {% block sidebar %}{% endblock %} -->
        <!-- </div> -->

        <!-- <br class="clear" /> -->
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>