{% load admin_static %}{% load firstof from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "styles/main.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
<script type="text/javascript" src="/static/scripts/vendor.js"></script>
<script type="text/javascript" src="/static/scripts/scripts.js"></script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" ng-app="adminApp">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div class="container-fluid" >
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">
              <div class='brand-container' id="branding">
                Dashboard
                <!-- <img src='{{ super_user.profile_picture }}'> -->
              </div>
            </a>
          </div>
          {% if user.is_active and user.is_staff %}
          <div class="collapse navbar-collapse" id="user-tools">
            {% block userlinks %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% firstof user.get_short_name user.get_username %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>

                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ docsroot }}">{% trans 'Help' %}</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout/">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
          </div>
          {% endif %}
          {% block nav-global %}{% endblock %}
        </div>
      </nav>
    </div>
    {% endif %}



    {% block messages %}
        {% if messages %}
    <div class="alert alert-warning alert-dismissible main-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
        <strong>Warning!</strong> {{ message|capfirst }}
        {% endfor %}
    </div>
    {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %} container-fluid data-container admin-data">
        <!-- {% block pretitle %}{% endblock %} -->
        <!-- {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %} -->
       <!--  <div class="main-options-container row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->

             <div class="main-options-container row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    {% block leftsuper %}{% endblock %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                    {% endblock %}
                </div>
            </div>
            <!-- </div> -->
            <!-- {% block sidebar %}{% endblock %} -->
        <!-- </div> -->

        <!-- <br class="clear" /> -->
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>