{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block leftsuper %}
{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="{{active_dashboard_class}}"><a href="/dashboard">Dashboard</a></li>
                        {% for model in app.models %}
                        <tr class="model-{{ model.object_name|lower }}">
                        {% if model.admin_url %}
                        <!-- <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th> -->
                        <li role="presentation"><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                        {% else %}
                        <th scope="row">{{ model.name }}</th>
                        <li role="presentation"><a href="#">{{ model.name }}</a></li>
                        {% endif %}

                        <!-- {% if model.add_url %}
                        <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
                        <li role="presentation"><a href="{{ model.add_url }}">Profile</a></li>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %} -->

                        <!-- {% if model.admin_url %}
                        <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                        <li role="presentation"><a href="#">Profile</a></li>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %} -->
                        </tr>
                        {% endfor %}
                    </ul>

        </div>
    {% endfor %}
{% else %}
    <p>{% trans "Permisson Denied" %}</p>
{% endif %}
{% endblock %}

{% block content %}
<div id="content-main" class="admin-main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>{{ dashboard_front_data.accounts }}</h1>
                <h1>Accounts</h1>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>{{ dashboard_front_data.posts }}</h1>
                <h1>Posts</h1>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>{{ dashboard_front_data.date_fetched }}</h1>
                <h1>Last Fetched</h1>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 fetch-container" fetch-posts>
            <div class="panel panel-default">
              <div class="panel-body">
                <h1><span class="glyphicon glyphicon-flash" aria-hidden="true"></span></h1>
                <h1 class="fetch-text">Fetch Now</h1>
              </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}



{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}