$icon-font-path: "/static/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
/*// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
*/

body {
  padding: 0;
}



/* Responsive: Portrait tablets and up, will be used by direct post */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
////////////////////////
$buttons-border: RED;
$border-round-str: 100px;
$border-round-brand-str: 300px;
$border-round-page-post-str: 7px;
$mock-background-color: #eeeeee;
$common-font-color: #777;
.no-round-borders{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -khtml-border-radius: 0px;
}

.round-borders{
  -moz-border-radius: $border-round-str;
  -webkit-border-radius: $border-round-str;
  border-radius: $border-round-str;
  -khtml-border-radius: $border-round-str;
}

.round-borders-50{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
}

.round-borders-brand{
  -moz-border-radius: $border-round-brand-str;
  -webkit-border-radius: $border-round-brand-str;
  border-radius: $border-round-brand-str;
  -khtml-border-radius: $border-round-brand-str;
}
.round-borders-admn-post{
  -moz-border-radius: $border-round-page-post-str;
  -webkit-border-radius: $border-round-page-post-str;
  border-radius: $border-round-page-post-str;
  -khtml-border-radius: $border-round-page-post-str;
}
.common-shadow{
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.12);
}

.common-transition{
  transition: all 300ms ease-out 0s;
  -moz-transition: all 300ms ease-out 0s;
  -o-transition: all 300ms ease-out 0s;
  transition: all 300ms ease-out 0s;
}

.common-animation {
  animation: spin 1.5s infinite;
}


@-moz-keyframes spin {
  0% {
     -moz-transform: rotate(60deg);
     }
  50% {
    -moz-transform: rotate(-60deg);
    }

  100% {
    -moz-transform: rotate(420deg);
    opacity: .4;
    }
}
@-webkit-keyframes spin {

  0% {
    -webkit-transform: rotate(60deg);
    transform:rotate(60deg);
    }

  50% {
    -webkit-transform: rotate(-60deg);
    transform:rotate(-60deg);
    }

  100% {
    -webkit-transform: rotate(420deg);
    transform:rotate(420deg);
    opacity: .4;
  }

}

@keyframes spin {
  0% { -webkit-transform: rotate(60deg);
    transform:rotate(60deg); }
  50% { -webkit-transform: rotate(-60deg);
    transform:rotate(-60deg);

    }
  100% { -webkit-transform: rotate(420deg);
    transform:rotate(420deg);
    opacity: .4;
  }
}

@keyframes pulse {
  0% {
    margin-left: -20px;
    margin-top: 20px;
  }
  50%{
    margin-left: 20px;
    margin-top: -20px;
  }
  100% {
    margin-left: -20px;
    margin-top: 20px;
  }
}

///Bootstrap
.thumbnail{
  @extend .no-round-borders;
  border: solid 1px #dddddd;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
  box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
}

.panel{
  @extend .no-round-borders;
  border: solid 1px #dddddd;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
  box-shadow: 0px 1px 3px 0px rgba(221,221,221,1);
}

@media screen and (max-width: 767px){
  .navbar-default .navbar-nav .dropdown-menu>li>a {
      margin-left: 15px;
  }

  .navbar-right{
    margin-top: 0px;
  }
}

.navbar-default .navbar-toggle{
  @extend .no-round-borders;
  padding:10px;
}

.form-control input, input{
  @extend .no-round-borders;
}
input[type=text]{
  @extend .form-control;
  @extend .no-round-borders;
  //max-width: 80%;
}

textarea{
  @extend .form-control;
  @extend .no-round-borders;
}

.alert{
  @extend .no-round-borders;
}

.navbar-nav{
  margin-top: 0px;
  margin-bottom: 0px;
}
///Bootstrap end

//// Admin fix

ul.errorlist{
  padding: 0px !important;
  margin: 0px !important;

  list-style-type: none;
  li{
    @extend .alert;
    @extend .alert-danger;
    @extend .no-round-borders;
  }
}

//// Admin fix end


/////////////////


//// Angular
.ng-invalid.ng-touched{
  border: solid 1px RED !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//// Angular End

.finish-him{
  position: absolute;
  top: -10000px;
  opacity: 0 !important;

  &.login-inpage, &.message-inpage{
    padding: 0px !important;
    margin-top: -50px !important;
  }
  .navbar-right{
    position: absolute;
    top: -10000px;
    opacity: 0 !important;



  }
}



body,html{
  background-color: #E9E9E9;
}
/**{
   @extend .common-transition;
}*/

.mini-bottom-top-director{
  position: fixed;
  height: 40px;
  line-height: 1;
  font-family: monospace;
  font-size: 12px;
  /* background-color: RED; */
  bottom: 26px;
  right: 27px;
  background-color: #fff;
  padding: 14px;
  cursor: pointer;
  @extend .round-borders-50;
}

.brand-container{
  font-weight: 100;
  font-size: 36px;
  color: #000;
}

.navbar-fixed-top{
  background-color: #ffffff;

  .dropdown-menu{
      margin-left: -26px;
      right: 15px;
      @extend .no-round-borders;
    }
}

.btn{
  @extend .no-round-borders;
}

.navbar-fixed-top-custom{
  @media screen and (max-width: 766px) {
    display: None;
  }
  background-color: transparent;
  border-color: transparent;
  &.scrolled-down{
    background-color: #ffffff;
    border-color: #ffffff;

    .navbar-brand{
      display: block;
    }
  }

  &.direct-post-page {
    @media screen and (min-width: 766px) {
    display: block;
    }

    background-color: #ffffff;
    border-color: #ffffff;

    .navbar-brand{
      padding: 13px 15px;
      display: block;
    }
  }

  .navbar-brand{
    padding: 13px 15px;
    display: none;
  }

  .brand-container{
    width: 42px;
    height: auto;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 0px;
    margin-top: -9px;
    margin-left: 22px;
    @extend .round-borders;
    @extend .common-shadow;

    img{
      width: 100%;
      height: auto;
      @extend .round-borders;
      background-color: $mock-background-color;
      /*min-width: 100%;*/
      /*min-height: 70px;*/

    }
  }

  .navbar-toggle{
    margin-right: -15px;
  }

  .navbar-right{
    @extend .common-transition;
    visibility: visible;
    opacity: 1;
    margin-right: 0px;

    .dropdown-toggle{
      padding-right: 0px;
    }

    .dropdown-menu{
      margin-left: -26px;
      right: 15px;
      @extend .no-round-borders;
    }

    label[for='top-search']{
      position: absolute;
      top: 17px;
      left: 25px;
      opacity: 1;
      @extend .common-transition;
    }

    .glyphicon-search{
      color: $common-font-color;
    }

    .form-group{
      padding: 8px 0px;
      margin: 0px;
      input {
        padding: 0px;
        width: 48px;
        border: none;
        box-shadow: none;
        font-size: 20px;
        font-weight: 100;
        background-color: transparent;
        @extend .common-transition;
        @extend .no-round-borders;
        opacity: 0;

        &:focus{
          width: 400px;
          background-color: #ffffff;
          padding: 0px 10px;
          opacity: 1;
        }

        &:focus ~ label{
            opacity: 0;
        }
      }
    }
  }
}

.navbar-fixed-top-mobile{
  @media screen and (min-width: 766px) {
        display: None;
  }
  background-color: transparent;
  border-color: transparent;
  background-color: #fff;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 52px;

  .container-fluid{
    text-align: right;
     .search-label{
      padding: 17px 17px 2px 10px;
    }
 /*   .search-label:hover ~ .form-group #top-search{
      display: block;
    }*/

    .navbar-header{
      display: inline-block;
      float: left;
      .navbar-brand{
        padding: 8px 15px;
        padding-top: 6px;

        .brand-container{
          width: 40px;

          img{
            width: 100%;
          }
        }
      }
    }

    #top_menu_mobile{
      /*display: none;*/
      position: fixed;
      text-align: left;
      width: 100%;
      background-color: #fff;
      margin-left: -15px;
      padding: 0px 15px;
      z-index: 2000;
      margin-top: 10px;

      &.hide-slide{
        margin-left: 1000px;
      }

      ul.nav {
        li{
          &.divider{
            border-bottom: solid;
            border-color: #dddddd;
          }

          &.the-brand-name{
            background-color: rgb(233,233,233);
          }

          &:hover{
            background-color: rgb(233,233,233);
          }
        }
      }
    }

    .log-out{
      display: inline-block;
    }

    .form-group{
      margin-top: 1px;
      background-color: #ffffff;
      border: solid;
      border-color: #ffffff;
      border-width: 8px;
      margin-left: -15px;
      margin-right: -15px;
      /*display: none;*/
      position: relative;
      left: 0px;
      &.hide-slide{
        left:1000px;
      }
    }

    .form-group #top-search{
      max-width: 100%;
    }
    .navbar-toggle {
      margin-right: 0px;
    }
  }


  /*
  .brand-container{
    width: 80px;
    height: auto;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding: 4px;
    margin-top: -9px;
    margin-left: 22px;
    @extend .round-borders;
    @extend .common-shadow;

    img{
      width: 100%;
      height: auto;
      @extend .round-borders;
      background-color: $mock-background-color;
      min-width: 100%;
      min-height: 70px;

    }
  }

  .navbar-toggle{
    margin-right: -15px;
  }

  .navbar-right{
    @extend .common-transition;
    visibility: visible;
    opacity: 1;
    margin-right: -31px;

    .dropdown-toggle{
      padding-right: 0px;
    }

    .dropdown-menu{
      margin-left: -26px;
      right: 15px;
      @extend .no-round-borders;
    }

    label[for='top-search']{
      position: absolute;
      top: 17px;
      left: 25px;
      opacity: 1;
      @extend .common-transition;
    }

    .glyphicon-search{
      color: $common-font-color;
    }

    .form-group{
      padding: 8px 0px;
      margin: 0px;
      input {
        padding: 0px;
        width: 48px;
        border: none;
        box-shadow: none;
        font-size: 20px;
        font-weight: 100;
        background-color: transparent;
        @extend .common-transition;
        @extend .no-round-borders;
        opacity: 0;

        &:focus{
          width: 400px;
          background-color: #ffffff;
          padding: 0px 10px;
          float: right;
          opacity: 1;
        }

        &:focus ~ label{
            opacity: 0;
        }
      }
    }
  }*/
}

.data-container{
  @media screen and (max-width: 766px) {
    margin-top: 15px;
  }

  padding-top: 60px;
  padding-bottom: 100px;
  //Add box sizing
  background-color: #E9E9E9;
  min-height: 100%;

  &.admin-data{
    padding-top: 100px;

    .admin-main-container{

      .panel{
        text-align: center;

        h1{
          font-weight: 100;
        }
      }
    }

    .main-options-container{
      .nav {
        padding-bottom: 20px;

        li {
          a {
            padding: 16px 20px;
            color: $common-font-color;
            @extend .no-round-borders;
            @extend .no-round-borders;

            &:hover{
              background-color: #fff;
              color: $common-font-color;
            }
          }

          &.active a{
            background-color: #fff;
          }
        }
      }


      .admin-super-table{
        img{
          width: 100%;
          height: auto;
        }
        tbody{
          display: block;
          border: none !important;;
        }
        thead{
          display: block;
          border: none !important;
          margin: 10px;
        }

        th{
          display: block;
          position:relative;
          padding: 10px;
          padding-bottom: 0px;
          line-height: 2;
          border: none !important;;
        }

        td{
          display: block;
          position:relative;
          padding: 10px;
          line-height: 2;
          border: none !important;
          &.field-account{
            text-align: right;
            float: right;
            &::before{
              content: "By";
              padding-right: 5px;
              color: $common-font-color;
            }
          }
        }

        tr{
          display: inline-block;
          //border: solid;
          //border-color: #E9E9E9;
          @extend .round-borders-admn-post;
          video{
            position: relative;
            float: left;
          }

        }

        .row1.thumbnail{
          @extend .no-round-borders;
        }

      }

      form {
        div.actions{
          line-height: 4;
          margin-bottom: 8px;

          label{
            font-size: 0px !important;
          }
          @extend .panel;
          @extend .no-round-borders;
          background: #fff !important;
          select{
            @extend .form-control;
          }

          button{
            @extend .form-control;
            @extend .btn;
            @extend .btn-default;
            width: 100px;
            margin: -4px 10px 0px 17px;
          }
        }
      }

      .column-super_post_url{
        display: none !important;
      }
      .column-account{
        display: none !important;
      }
      .column-account_image{
        display: none !important;
      }
      .column-username{
        display: none !important;
      }

      .column-first_name{
        display: none !important;
      }

      .column-fetch_status{
        display: none !important;
      }

      .field-super_post_url{
        float: left;
        min-height: 202px;
      }

      .account-common-th{
        padding: 2px !important;
      }

      table{
        .field-username{
          @extend .account-common-th;
          padding-top: 10px !important;
          &::before{
            content: "Username";
            color: $common-font-color;
            padding:0px 11px 0px 10px;
            font-size: 11px;
            min-width: 84px;
            display: inline-block;
          }
        }
        .field-first_name{
          @extend .account-common-th;
          &::before{
            content: "Name";
            color: $common-font-color;
            padding:0px 11px 0px 10px;
            font-size: 11px;
            min-width: 84px;
            display: inline-block;
          }
        }
        .field-fetch_status{
          @extend .account-common-th;
          &::before{
            content: "Posts Status";
            color: $common-font-color;
            padding:0px 11px 0px 10px;
            font-size: 11px;
            min-width: 84px;
            display: inline-block;
          }
        }

      }

      .action-checkbox-column{
        &::after{
          content: "select all";
          left: 25px;
          font-size: 11px;
          font-weight: 400;
          color: #999;
          position: absolute;
          top: 4px;
        }
      }

      .object-tools{
        position: relative;
        float: right;
        z-index: 1;
        padding: 21px;
        li{
          display: block;
        }
      }

      p.paginator{
        @extend .pagination;
        @extend .panel;
        line-height: 3;
        width: 100%;
        padding: 10px;
        background-color: #fff !important;
        @extend .no-round-borders;
        border: none !important;
        a,span{
          position: relative;
          float: left;
          padding: 6px 12px;
          margin-left: -1px;
          line-height: 1.42857143;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
        }

          span.this-page{
          z-index: 2;
          color: #fff;
          cursor: default;
          background-color: #337ab7;
          border-color: #337ab7;
        }
        a.end{
          border-width: thin !important;
        }
        a.showall{
          margin: 9px;
        }
      }

      .cancel{
          border-color: #000000;
        }
      .delete-btn{
        border-color: #FF8C00;
      }

      .submit-row.panel{
        background: #ffffff !important;

        .cancel, .save{
          margin: 0.3em;
        }

        .save{
          border-color: #5F9EA0;
        }
        .cancel{
          border-color: #000000;
        }

        .deletelink-box{
          a {
            border-color: #FF8C00;
          }
        }
      }
      /*#content-main{
        .object-tools{
          display: none;
        }
      }*/


      /*// for object page*/
      .form-row.field-username{
        .help {
          display: none;
        }


      }

      fieldset{
        background-color: transparent;
        h2, .description{
          background-color: #fff;
          margin:0px;
          padding: 0px 13px;
        }
        h2{
          padding-top: 20px;
        }

        padding: 0px;
      }
      .form-row + .form-row{
        margin: 3px 0px 0px 0px;
      }
      .form-row{
        background-color: #fff;
        padding: 10px;
        width: 100%;

        p{
          margin: 0px;
          float: left;
          padding-top: 0px;
          width: 100%;
          img {
            width: 100%;
          }
        }
        p:not(.help){
          padding: 10px 4px;
          font-size: 16px;
        }

        .help{
          padding: 0px !important;
          margin: 0px !important;
          color: $common-font-color;
        }

        label{
          padding: 10px 3px;
          font-weight: normal !important;
          color: $common-font-color !important;
          display: block;
          width: 100%;
          font-size: 16px;
        }

        input {
            //margin: 20px 10px;
            width: 99%;
            display: block;
            position: relative;
            float: left;
            margin: 10px 3px;

        }



        &.field-username{
          /*div::after{
            content:"Instagram username, used to fetch posts";
            color: $common-font-color;
            margin: 18px 10px 9px 10px;
            display:block;
          }*/
        }

        select{
          margin: 10px 10px 18px 10px;
        }
      }

      textarea{
        display: block;
        width: 99%;
        margin: 10px 3px;
        position: relative;
        float: left;
      }

      .jumbotron + form{
        padding: 10px;
        text-align: right;
      }

    }
  }


  .direct-post{

    &.container{
      @media screen and (max-width: 766px) {
        /*margin-top: -15px;*/
      }

      .post-container{
        padding: 0px;
      }
    }

    .row{
      padding-bottom: 45px;
    }
  }

  .row {

    &.login-inpage{
      text-align: center;
      padding: 66px;
      visibility: visible;
      opacity: 1;
      margin:0px;
      @extend .common-transition;

      h1{
        font-weight: lighter;
        @media screen and (max-width: 766px) {
        font-size: 24px;
        }
      }

      a{

        img{
          width: 64px;
          height: auto;
          padding-top: 20px;
        }

      }
    }

    &.message-inpage{
      text-align: center;
      padding: 66px;
      visibility: visible;
      opacity: 1;
      margin:0px;
      @extend .common-transition;

      h1{
        font-weight: lighter;
        @media screen and (max-width: 766px) {
        font-size: 24px;
        }
      }

      h1::after{
        content: '*';
        font-family: 'Arial';
        font-weight:100;
        font-size: 30px;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        transition: all 5s ease-out;
        opacity: 1;
        transform-origin: center center;

        @extend .common-animation;
      }

    }

    .post-container{
      .super_brand_section{

      @media screen and (max-width: 766px) {
        margin-top: -5px;
        display: none;
      }
        margin-top: -45px;
        padding: 14px !important;
        text-align: center;
        img{
          @extend .round-borders-brand;
          height: 120px;
          width: auto;
        }
        .post-description{
          margin:0px;
        }
        .caption{
          color: #666666;
        }
      }

      .super_brand_section_direct{

      @media screen and (max-width: 766px) {
        margin-top: -5px;
      }
        /*margin-top: -45px;*/
        padding: 14px !important;
        text-align: center;
        img{
          @extend .round-borders-brand;
          height: 120px;
          width: auto;
        }
        .post-description{
          margin:0px;
        }
        .caption{
          color: #666666;
        }
      }

      .thumbnail.front-post, .thumbnail.direct-post{
        padding: 0px;

        a:hover{
          text-decoration:none;
        }

        img{
          width: 100%;
        }

        .caption{

          .tags-container{
            width: 100%;
            max-width: 100%;

            span{
              display: inline-block;
              position: relative;
              padding: 2px;
              color: #999999;

            }
          }

          h3{
            padding-top: 0px;
          }

          .location-container{
            color: #999999;
            font-size: 12px;
            text-align: right;
            min-height: 16px;
            margin-bottom: 22px;
            padding: 5px 0px;
            line-height: 3;

            span {

            }

            .glyphicon{
              color: #999999;

/*              &.glyphicon-share-alt {
                font-size: 29px;
                float: left;
                margin-left: -9px;
                margin-top: -4px;

                &:hover{
                  color: #E8E8E8;
                }
              }*/

            }

            .location_markers{
              position: relative;
              display: inline-block;
              float: right;
            }
          }
        }
      }

    }
  }

  /*.bottom-animation{
    position: fixed;
    width: 100%;
    bottom:0px;
    margin-left: -15px;
    text-align:center;
  }
  */
}

.mock{

  h3, p, span, .glyphicon {
    color: $mock-background-color !important;
    background-color: $mock-background-color !important;
  }

  img{
    width: 400px !important;
    /*height: 320px !important;*/
    background-color: $mock-background-color;
  }
}

.main-alert{
    top: 33px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 29px;
}

.fetch-container{
  cursor: pointer;

  .glyphicon{
    @extend .common-transition;
  }

  &:hover{
    .panel-body{
      background-color: #F5F5F5;
    }

    .glyphicon{
      top: 20px;
    }

  }
  .fetch-text.loading::after{
        content: '*';
        font-family: 'Arial';
        font-weight:100;
        font-size: 30px;
        width: 10px;
        height: 10px;
        display: inline-block;
        position: absolute;
        transition: all 5s ease-out;
        opacity: 1;
        transform-origin: center center;

        @extend .common-animation;
  }
}


/// init page
.app-detail-inpage{
  text-align: center;
  visibility: visible;
  opacity: 1;
  margin:0px;
  @extend .common-transition;

  h1{
    font-weight: 100;
    padding-bottom: 20px;
  }

  input{
    max-width: 100%;
  }
  .list-group{


    li{
      text-align: left;
      @extend .no-round-borders;

      &.with-input{
        padding: 0px;
        border:0px;
        margin: 5px;
      }

    }
    .badge{
      @extend .no-round-borders;
      margin: -10px 14px 0px -15px;
      padding: 14px;
    }
  }

  input[type=text]{
    padding: 28px;
  }
}
/// init page end

// social links
.social-share-con{
  display: inline-block;
  position: relative;
  float: left;

  ul.social-icons{
    display: inline-block;
    padding:0px;
    margin:0px;

    li{
      display: inline-block;
      position: relative;
      float: left;
      width: 35px;
      padding: 5px;
      margin:  0px;

      &.fb{
        background-color: #3B579D;
        img {
          margin-left: -3px;
        }
      }

      &.tw{
        background-color: #55acee;
      }
      &.gp{
        background-color: #DC4E41;
      }
      &.li{
        background-color: #0077B5;
      }

      img{
        width: 20px;
        height: auto;
      }
    }
  }
}

.location_markers{
  position: relative;
  float: right;
}
// social links end
