<!doctype html>
<html ng-app="staticContainerApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /static/styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /static/styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MakhoolCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top-custom">
      <div class="container-fluid">
        <!-- <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <div class='brand-container'>
              <img lucky-you src="">
            </div>
          </a>
        </div> -->
        <div class="collapse navbar-collapse" right-bar>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <div class="form-group">
                <input type="text" class="form-control" id="top-search"ng-model="search" placeholder=""/>
                <label for="top-search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </label>
              </div>
            </li>
            <li><a href="/login" ng-show="brand_name ==false">Login</a></li>
            <li class="" ng-show="brand_name != false">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$ brand_name $}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dashboard">Dashboard</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Help</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid data-container">
    <div class="row login-inpage finish-him" letme-in>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
          <h1>Login to #mysite using Instagram</h1>
          <div>
            <a href="/login"><img src="/static/images/insta.png"/></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row message-inpage finish-him" message-inpage>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div>
          <h1>Gathering your amazing moments</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-container" ng-repeat="tunnel in super_container.tunnels" ng-cloak>
        <!-- Brand post-->
         <div class="thumbnail {$ super_container.brand_post.class $}" ng-show="$index==0">
         <img ng-hide="im_post.post_type == '2'" ng-src="{$ super_container.brand_post.img_url $}" alt="">
         <div class="caption">
           <p class="post-description">{$ super_container.brand_post.description $}</p>
           <!-- <p class="location-container" ng-show="im_post.location">
              <span class="glyphicon glyphicon-map-marker"></span>
              <span >{$ super_container.brand_post.location $}</span>
            </p> -->
         </div>
       </div>
        <!-- Brand post end-->
       <div class="thumbnail {$ im_post.class $}" ng-repeat="im_post in tunnel|filter:search" >
         <img ng-hide="im_post.post_type == '2'" ng-src="{$ im_post.img_url $}" alt="">
         <video  ng-show="im_post.post_type == '2'"  controls width="100%" height="100%"><source ng-src="" fix-vid-bug type="video/mp4"/></video>

         <div class="caption">
          <div class="tags-container" >
            <span ng-repeat="label in im_post.tags.split(',')" >{$ label $}</span>
          </div>
           <h3 ng-click="update_tunnel()" ng-show="im_post.title">{$ im_post.title $} </h3>
           <p ng-show="im_post.description" class="post-description">{$ im_post.description $}</p>
           <p class="location-container" ng-show="im_post.location">
              <span class="glyphicon glyphicon-map-marker"></span>
              <span >{$ im_post.location $}</span>
            </p>
         </div>
       </div>
      </div>
    </div>
    <!-- <div class="bottom-animation">
      Loader
    </div> -->
  </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) /static/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:remove:prod -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/factory.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/test/mock.js"></script>
     <script src="/scripts/admin_app.js"></script>
    <!-- endbuild -->


    <script src="/static/scripts/scripts.js"></script>



</body>
</html>
