<!doctype html>
<html ng-app="staticContainerApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /static/styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /static/styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MakhoolCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
  <div class="container-fluid">
    {% if direct_post %}
    <nav class="navbar navbar-default navbar-fixed-top-custom navbar-fixed-top direct-post-page " >
    {% else %}
    <nav class="navbar navbar-default navbar-fixed-top-custom navbar-fixed-top" >
    {% endif%}
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <div class='brand-container'>
              <img class="img-circle" ng-src="{$ sc.brand_post.img_url $}" alt="">
            </div>
          </a>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" right-bar id="top_menu">
          <ul class="nav navbar-nav navbar-right" ng-cloak>
            <li>
              <div class="form-group">
                <input type="text" class="form-control" id="top-search"ng-model="search" placeholder=""/>
                <label for="top-search">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </label>
              </div>
            </li>
            <li><a href="/login" ng-show="brand_name ==false">Login</a></li>
            <li class="" ng-show="brand_name != false">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$ brand_name $}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/dashboard">Dashboard</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Help</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top-mobile navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <div class='brand-container' ng-cloak>
              <img class="img-circle" ng-src="{$ sc.brand_post.img_url $}" alt="">
            </div>
          </a>
        </div>
        <label for="top-search" class="search-label" ng-cloak>
          <span class="glyphicon glyphicon-search" aria-hidden="false"></span>
        </label>

        <button ng-cloak ng-show="brand_name != false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav navbar-right log-out" ng-show="brand_name ==false">
          <li><a href="/login" >Login</a></li>
        </ul>
        <div class="hide-slide" right-bar id="top_menu_mobile" ng-cloak>
          <ul class="nav navbar-nav navbar-right">
            <li class="the-brand-name" ng-show="brand_name != false">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$ brand_name $}</a>
              </li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout/">Logout</a></li>
          </ul>
        </div>
        <div class="form-group hide-slide">
          <input type="text" class="form-control" id="top-search" ng-model="search" placeholder=""/>
        </div>
      </div>
    </nav>
  </div>

  <div class="container-fluid data-container">
    <div class="row login-inpage finish-him" letme-in ng-cloak>
    </div>
    <div class="row message-inpage finish-him" message-inpage ng-cloak>
    </div>

    {% if direct_post %}
    <div class="container direct-post" ng-init="sc.last_index={{ direct_post.id }}">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-container">
       <div class="thumbnail {{ direct_post.class }}" >
        {% if direct_post.post_type == 1 %}
         <img src="{{ direct_post.img_url }}" alt="">
         {% endif %}
         {% if direct_post.post_type == 2 %}
         <video controls width="100%" height="100%"><source src="{{ direct_post.img_url }}"type="video/mp4"/></video>
         {% endif %}
         <div class="caption">
          {% if direct_post.tags %}
          <div class="tags-container">
            <span ng-repeat="label in {{direct_post.tags}}.split(',')" >{$ label $}</span>
          </div>
          {% endif %}
           {% if direct_post.title%}
           <h3>{{ direct_post.title }} </h3>
           {% endif %}
           {% if direct_post.description %}
           <p class="post-description">{{ direct_post.description }}</p>
           {% endif %}
           {% if direct_post.location %}
           <p class="location-container">
              <span class="glyphicon glyphicon-map-marker"></span>
              <span >{{ direct_post.location }}</span>
            </p>
           {% endif %}
         </div>
       </div>
      </div>
       {% if direct_post %}
       <!-- Brand post-->
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-container">
        <div class="thumbnail super_brand_section_direct " ng-show="sc.brand_post.img_url">
          <img ng-hide="im_post.post_type == '2'" ng-src="{$ sc.brand_post.img_url $}" alt="">
          <div class="caption">
            <p class="post-description">{$ sc.brand_post.description $}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    </div>
    {% endif %}

    <div class="row">
      <div ng-cloak class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-container" ng-repeat="tunnel in sc.tunnels" ng-cloak>
        {% if not direct_post %}
        <!-- Brand post-->
         <div class="thumbnail {$ sc.brand_post.class $}" ng-show="$index==0 && sc.brand_post.img_url">
         <img ng-hide="im_post.post_type == '2'" ng-src="{$ sc.brand_post.img_url $}" alt="">
         <div class="caption">
           <p class="post-description">{$ sc.brand_post.description $}</p>
         </div>
       </div>
       {% endif %}
        <!-- Brand post end-->
       <div class="thumbnail front-post {$ im_post.class $}" ng-repeat="im_post in tunnel|filter:search" >
        <a href="{$ im_post.dir_url $}">
         <img ng-hide="im_post.post_type == '2'" ng-src="{$ im_post.img_url $}" alt="">
         <video  ng-show="im_post.post_type == '2'"  controls width="100%" height="100%"><source ng-src="" fix-vid-bug type="video/mp4"/></video>

         <div class="caption">
          <div class="tags-container" >
            <span ng-repeat="label in im_post.tags.split(',')" >{$ label $}</span>
          </div>
           <h3 ng-show="im_post.title">{$ im_post.title $} </h3>
           <p ng-show="im_post.description" class="post-description">{$ im_post.description $}</p>
           <p class="location-container" ng-show="im_post.location">
              <span class="glyphicon glyphicon-map-marker"></span>
              <span >{$ im_post.location $}</span>
            </p>
         </div>
       </a>
       </div>
      </div>
    </div>
    <!-- <div class="bottom-animation">
      Loader
    </div> -->
    <div class="mini-bottom-top-director"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></div>
  </div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     {{ google_analytics|safe }}

    <!-- build:js(.) /static/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:remove:prod -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/factory.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/test/mock.js"></script>
    <script src="/scripts/admin_app.js"></script>
    <script src="/scripts/dom_events.js"></script>
    <!-- endbuild -->


    <script src="/static/scripts/scripts.js"></script>



</body>
</html>
